<%- include('Header') %>
        <div id = 'container'>
            <form id = 'mainmenu' method ='post' enctype='multipart/form-data'>
                <div id ='header'>
                    <p>Visits</p>
                </div>
                <div id = 'form_body'>
                    <button formaction ='/thc' name ='option' value = 'add'>Add New Visit
                    </button>
                    <button formaction = '/lookup' name ='option' value = 'lookup'>Look Up Patient
                    </button>
                    <button formaction = '/thc' name ='option' value = 'edit'>View/Edit Visits
                    </button>

                </div>
            </form>
        </div>
    </body>
</html>